@using Frontend.Components.Shared
@using Frontend.Models

<div class="p-4 space-y-6">
	@foreach (CommentModel comment in CommentsList)
	{
		<CommentCard Comment="@comment" />
	}
</div>

@code {
	[Parameter, EditorRequired]
	public List<CommentModel> CommentsList { get; set; }
}
