@using Frontend.Components.Shared

<div class="mt-4 space-y-4 comment-thread">
	<CommentReplyCard />
    <CommentReplyCard />
    <CommentReplyCard />
    <div class="show-more-container ml-11">
        <button class="show-more-replies-btn text-blue-600 font-semibold text-sm hover:underline">
            View 3 more replies
        </button>
    </div>
</div>