@using Frontend.Models
@using Frontend.Components.Shared

<div class="space-y-4">
    @if (Communities == null || Communities.Count == 0)
    {
        <NothingMadeCard Query="No communities found." />
    }
    else
    {
        @foreach (CommunitySimpleModel community in Communities)
        {
            <CommunityCard Community="@community" />
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public List<CommunitySimpleModel>? Communities { get; set; }
}
